/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootstrap-icons/bootstrap-icons.scss";

html,
body {
    height: 100%;
    margin: 0
}

.table-header {
    position: sticky;
    top: 0;
}