<app-container>
    <form [formGroup]="form" (submit)="formSubmit(form.value)">

        <app-mio-field [field]="form.controls['nome']">
            <label>Nome</label>
            <input type="text" name="nome" formControlName="nome" /><br />
        </app-mio-field>

        <app-mio-field [field]="form.controls['cognome']">
            <label>Cognome</label>
            <input type="text" name="cognome" formControlName="cognome" /><br />
        </app-mio-field>


        <p *ngIf="form.hasError('nomeCognomeSame') && form.dirty">
            Sembra che hai inserito gli stessi valori su nome e cognome
        </p>
        <button type="submit">Invia</button>
    </form>
</app-container>